<div *ngIf="isBusy" style="width:100%;height:100vh;background:#000;position: absolute;z-index: 105;" id="loader">
    <div class="la-ball-scale-ripple-multiple la-2x"
        style="position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<ng-container *ngIf="!isBusy">
    <div class="content" *ngIf="showTable">
        <h2>
            Search LuckyTrip
        </h2>

        <h4>
            350 destination, 1500 blog posts,Unlimited Trips
        </h4>

    </div>
    <div class="container d-flex justify-content-center" [ngClass]=" showTable == false ? 'hedSearch' : 'searchPage'">
        <div class="card mt-5 p-4">
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="inputItem" (ngModelChange)="getFilteredList()"
                    class="combobox-input form-control mainLoginInput" (keyup)="onKeyPress($event)"
                    (blur)="toggleListDisplay(0)" (focus)="toggleListDisplay(1)"
                    placeholder="&#61442; Enter a Destination">
                <div class="combobox-options" *ngIf="!listHidden">
                    <list-item *ngFor="let item of filteredList;let i = index" (click)="selectItem(i)"
                        [ngClass]="{'selected': i===selectedIndex}">{{item.name}} <span
                            *ngIf="item && item.parent != null">-&nbsp;{{item.parent}}</span></list-item>
                </div>
                <div class="input-group-append"><button class="btn btn-primary" (click)="onSearch()">Go</button></div>
            </div>
            <br>
        </div>



    </div>
    <table class="center" style="width: 50%" *ngIf="showTable && numberLoop !=0">
        <thead>
            <caption class="tableTilte">Trending</caption>

        </thead>
        <tbody>
            <tr scope="row" *ngFor="let item of  [].constructor(numberLoop); index as i;">
                <td *ngFor="let d_item of  getData(i); index as k;">
                    <a href="" (click)="onClickTrending(d_item)">
                        <img [src]="d_item.image_url" onerror="this.src = './../assets/defaultCity.png'" alt=""
                            width="310px" height="230px"
                            style="display: flex;  justify-content: center;  margin: auto; border-radius: 10px">
                        <!-- {{d_item.city}}
                        -
                        {{d_item.country_name}} -->

                    </a>

                </td>
            </tr>
        </tbody>
    </table>
</ng-container>