
// body {
//     background-color: #E7E9F5;
//     font-family: 'Heebo', sans-serif;
// }
.content {
    color: #F7F8FD;
}

.content h2 {
    color: #FEEE5F;
    font-weight: bold;
    margin-top: 50px;
}

.card {
    width: 500px;
    border: none;
    border-radius: 20px;
    background-color: inherit;
}

.form-control {
    border-radius: 17px;
}

input.form-control:focus {
    box-shadow: none;
    background-color: #F7F8FD;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #ff6161 !important;
    border-color: #ff6161 !important;

    border-radius: 17px;
}

.btn-primary:focus {
    box-shadow: none;
}

.text {
    font-size: 13px;
    color: #9CA1A4;
}

.price {
    background: #F5F8FD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 97px;
}

.flex-row {
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin: 0 1px 0;
}

.flex-column p {
    font-size: 14px;
}

span.mb-2 {
    font-size: 12px;
    color: #8896BD;
}

h5 span {
    color: #869099;
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .price {
        border: none;
        margin: 0 auto;
    }
}

h2,
h4,caption,p {
    text-align: center;
}


.ss {
    margin-left: 300px;
}



.mainLoginInput::-webkit-input-placeholder {
    font-family: FontAwesome;
    font-weight: normal;
    overflow: visible;
    vertical-align: top;
    display: inline-block !important;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 14px;
}

 
.center {
    margin-left: auto;
    margin-right: auto;
}

.tableTilte{
    color: #97ecff;
    font-size: 33px;
    font-family: phosphatesolid,Avenir-Light,"Open Sans",open-sans,sans-serif;
    text-align: left;
    text-shadow: 0 1px 25px rgb(0 0 0 / 20%);
    line-height: 100%;
    letter-spacing: 1px;
    width: 168px;
    padding: 30px 0px 15px;
}

table {
    border-collapse:separate; 
    border-spacing: 1em 1em;

  }

 
  .hedSearch{
    margin-top: -110px !important; 
    margin-bottom: -40px !important;

  }

  .wrapper {
    float: left;
    font-size: 18px;
    margin: 0;
    text-align: justify !important;
  }

  .wrapper p,h2 {
    text-align: justify !important;
  }

  .wrapper p {
    text-align: justify !important;
    font-size: 15x;

  }
 
  

  #breathing-button {
    width: 180px;
    margin:5px auto;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family:'Lantinghei SC';
    font-size: 16px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}


.locationCol {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

[class*="col-"] {
  background-clip: padding-box;
  border: 7px solid transparent;
  border-radius: 20px;
}